<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main">
        <div class="content">
            <img src="logo.png" alt="">
            <h1>Por Eduardo Campos</h1>
            <small>Projeto simples usando Node, Express e Nunjucks</small>
        </div>
        <div class="links">
            <a href="/sobre">Entrar</a>
        </div>
    </div>
</body>
</html>